*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	background-image:url(img/k.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;

}
nav
{
	background: skyblue;
	width: 100%;
	overflow: auto;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
li{
	float: right;
}
 nav a
 {
 	width: 140px;
 	display: block;
 	text-decoration: none;
 	text-align: center;
 	background: #FFE4E1;
 	font-size: 19px;
 	color: black;
 	padding: 20px 10px;
 	font-family: arial;

 }
 nav a:hover{
 	background: #e67e22;
 	color: black;
 	transition: all 0.5s, ease-in;
	padding: 20px 0;

 }
 .container{
 	max-width: 1300px;
 	margin: auto;
 	background: #f2f2f2;
 	overflow: auto;
 }
 .gallery{
 	margin: 5px;
 	border: 1px solid #ccc;
 	float: left;
 	width: 380px;

 }
 .gallery img{
 	width: 100%;
 	height: auto;
 }
 .desc{
 	padding: 20px;
 	text-align: center;
 	font-family: arial;
 	font-size: 25px;
 	color: #594848;
 	font-weight: bold;

 }
 .desc:hover{
 	background: skyblue;
 	color:black;
 }
 footer{
 	padding: 10px;
 	font-size: 17px;
 	font-weight: bold;
 	text-align: center;
 	background: #594848;
 	color: white;
 	font-family: arial;
 	letter-spacing: 1px;

 }